{% extends 'base.html' %}
{% load staticfiles bootstrap3 %}
{% block content %}
<section id="projects">
    {% for object in projects %}
        <a href="{% url 'project' object.pk %}">{{ object.name }}</a> - {{ object.technologies }} - <img src="{{ MEDIA_URL }}{{ object.photo }}"> <br>
    {% endfor %}
</section>
<section id="skills">
    {% for object in object_list %}
        {{ object.name }} - {{ object.rate }} <br>
    {% endfor %}
</section>
<section id="contact">
    <form method="POST" action="{% url 'contact' %}">{% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit">
    </form>
</section>
{% endblock %}