{% extends 'base.html' %}
{% load staticfiles bootstrap3 %}
{% block content %}

    <section id="portfolio" class="pfblock">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <div class="pfblock-header wow fadeInUp">
                        <h2 class="pfblock-title">My works</h2>
                        <div class="pfblock-line"></div>
                        <div class="pfblock-subtitle">
                            I am looking forward to developing my skills, making not just websites, but web
                            applications.
                        </div>
                    </div>

                </div>

            </div><!-- .row -->


            <div class="row">

                {% for object in projects %}
                    {% if object.linkto != 'SOME STRING'  and object.linkto != 'http://someString.com' %}
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="grid wow zoomIn">
                                <a href="{{ object.linkto }}">
                                    <figure class="effect-bubba">
                                        <img src="{{ MEDIA_URL }}{{ object.photo }}"/>
                                        <figcaption>
                                            <h2>{{ object.name }}</h2>
                                            <p>{% for skill in object.technologies.all %}{{ skill.name }}
                                                , {% endfor %}</p>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="grid wow zoomIn">
                                <figure class="effect-bubba">
                                    <img src="{{ MEDIA_URL }}{{ object.photo }}"/>
                                    <figcaption>
                                        <h2>{{ object.name }}</h2>
                                        <p>{% for skill in object.technologies.all %}{{ skill.name }}, {% endfor %}</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}


            </div>


        </div><!-- .contaier -->

    </section>

    <!-- Portfolio end -->

    <!-- Skills start -->

    <section class="pfblock pfblock-gray" id="skills">

        <div class="container">

            <div class="row skills">

                <div class="row">

                    <div class="col-sm-6 col-sm-offset-3">

                        <div class="pfblock-header wow fadeInUp">
                            <h2 class="pfblock-title">My Skills</h2>
                            <div class="pfblock-line"></div>
                            <div class="pfblock-subtitle">
                                I am passionate and enthusiastic for new and emerging web technologies.
                            </div>
                        </div>

                    </div>

                </div><!-- .row -->
                {% for object in object_list %}
                    <div class="col-sm-6 col-md-3 text-center">
                        <span data-percent="{{ object.rate }}" class="chart easyPieChart"
                              style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="percent">{{ object.rate }}</span>
                        </span>
                        <h3 class="text-center">{{ object.name }}</h3>
                    </div>
                {% endfor %}

            </div><!--End row -->

        </div>

    </section>

    <!-- Skills end -->

    <!-- Contact start -->

    <section id="contact" class="pfblock">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <div class="pfblock-header">
                        <h2 class="pfblock-title">Drop me a line</h2>
                        <div class="pfblock-line"></div>
                        <div class="pfblock-subtitle">
                            If you have any question feel free to contact me!
                        </div>
                    </div>

                </div>

            </div><!-- .row -->

            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <form method="POST" action="{% url 'contact' %}">{% csrf_token %}
                        <div class="ajax-hidden">
                            {% bootstrap_form form %}
                            <input type="submit" class="btn btn-lg btn-block wow fadeInUp" data-wow-delay=".3s">
                        </div>
                        <!--<div class="ajax-response"></div>-->
                    </form>


                </div>

            </div><!-- .row -->
        </div><!-- .container -->
    </section>

    <!-- Contact end -->
{% endblock %}